p {
  font-family: Arial;
}
.card{
  background-color: rgb(38, 38, 38);
  width: 350px;
  height: 90px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 5px;

}
.first-paragraf{
 
  color: white;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: bold;

}
.second-paragraf{
  color: grey;
 

}