.grid {
  display: grid;
  grid-template-columns: 200px 1fr 75px;
}
.lightblue{
  background-color: lightblue;
}
.lightpink{
  background-color: lightpink;
}
.lightblue2{
  background-color: lightblue;
}